# Build output
dist/
build/

# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Logs
*.log

# IDE-specific files
.vscode/
.idea/

# Temporary files
*.tmp

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test
*.env
